@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;700&display=swap');
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root.dark {
    background-color: rgb(34, 34, 44);
}
body{
    font-family: 'Baloo 2', sans-serif;
}
.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
}
h1 {
    color: white;
    letter-spacing: 10px;
    font-weight: 500;
}
.header-img {
    height: 230px;
    width: 100%;
    position: fixed;
    object-fit: cover;
    object-position: center;
}
.main {
    position: relative;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 700px;
    max-width: 90%;
    margin-bottom: 150px;
}
.intro-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.light-dark-mode {
    cursor: pointer;
    color: white;
    font-size: 2rem;
}
/* main input */
.app-head {
    background-color: white;
    box-shadow: rgba(170, 170, 170, 0.35) 2px 5px 20px;
    border-radius: 5px;
}
.main-input {
    width: 100%;
    padding-left: 20px;
    height: 50px;
    max-height: 50px;
    border: none;
    border-radius: 5px;
}
.main-input.dark {
    background-color: rgb(86, 82, 104);
    color: rgb(199, 199, 199);
}
/* body part */
.app-body {
    position: relative;
    background-color: white;
    box-shadow: rgba(170, 170, 170, 0.35) 2px 5px 20px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.app-body-content {
    position: relative;
    overflow: auto;
    min-height: 100px;
}
.app-body-content[data-empty="true"]::after {
    position: absolute;
    text-align: center;
    content: "Add New Task...";
    height: 100px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(218, 218, 218);
    font-size: 3rem;
}
.app-body-content.dark[data-empty="true"]::after {
    color: rgb(122, 122, 122);
}
.app-body-options {
    color: rgb(122, 122, 122);
    border-top: rgb(212, 212, 212) solid 1px;
    padding: 0 10px;
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
}
.app-body-options.dark {
    color: rgb(255, 255, 255);
    border-top: rgb(119, 119, 119) solid 1px;
}
.app-footer {
    background-color: white;
    box-shadow: rgba(170, 170, 170, 0.35) 2px 5px 20px;
    border-radius: 5px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
}
.app.dark {
    background-color: rgb(86, 82, 104);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* task bar style */
.task {
    font-size: 1.2rem;
    width: 100%;
    border-bottom: rgb(192, 192, 192) solid 1px;
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.task.dark {
    border-bottom: rgb(119, 119, 119) solid 1px
}
.inner-form-task {
    flex-basis: 80%;
    display: flex; 
    align-items: center;
    text-overflow: ellipsis;
    overflow-x:hidden;
    white-space: nowrap;
}
label {
    cursor: pointer;
}
.checkbox-input {
    margin-right: 1rem;
    appearance: none;
    position: relative;
    height: 27px;
    width: 27px;
    min-height: 27px;
    min-width: 27px;
    border-radius: 50%;
    border: rgb(134, 134, 134) solid 1px;
    cursor: pointer;
}
.checkbox-input::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: 45%;
    background-image: url(../Photos/true.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: none;
}
.checkbox-input:checked {
    background: linear-gradient(90deg, rgb(139, 218, 255), rgb(193, 68, 243));
}
.checkbox-input:checked::before {
    display: block;
}
.checkbox-input:checked + label {
    color: rgb(156, 156, 156);
    text-decoration-line:line-through;
}

/* close button */
.close-button {
    position: relative;
    cursor: pointer;
    padding: 10px;
}
.close-button::before,
.close-button::after {
    content: '';
    position: absolute;
    background-color: rgb(131, 131, 131);
    width: 1.3px;
    height: 1.5rem;
}
.close-button.dark::before,
.close-button.dark::after {
    background-color: rgb(233, 233, 233);
}
.close-button::before {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.close-button::after {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* app body options */
.clear-completed {
    cursor: pointer;
}
.clear-completed:hover {
    text-decoration-line: underline;
}
.clear-completed.dark:hover {
    text-decoration-line: underline;
    color: white;
}
.items-left::before {
    content: " "attr(data-num)" ";
}


/* app footer options */
.app-footer * {
    font-size: 0.9rem;
    cursor: pointer;
}
.app-footer *:hover {
    text-decoration-line: underline;
}